* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*-------- HEADER --------*/
header {
    background-color: #4e2a84;
    position: fixed;
    /*position: fixed, absolute làm mất kích thước của thẻ*/
    z-index: 2;
    width: 100%;
}

.header__logo {
    color: #ffffff;
    font-size: 2.3125rem;
    text-decoration: none;
}

.header__content {
    display: flex;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0;
    justify-content: space-around;
}

.header__nav ul {
    list-style: none;
}

.header__nav ul li {
    display: inline;
}

.header__nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 0.8125rem;
    margin: 0 0.76rem;
}

.header__nav ul li.active a {
    color: #ff0e83;
}

/*-------- CAROUSEL --------*/
.carousel {
    background-image: url(../images/b3.jpg);
    height: 50rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.carousel__content {
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.carousel__content h1 {
    font-size: 3.5rem;
    word-spacing: 0.375rem;
    letter-spacing: 0.1875rem;
    margin-bottom: 0;
}

.carousel__content p {
    font-size: 1rem;
    margin-top: 1.125rem;
    margin-bottom: 0.8rem;
    color: rgb(221, 221, 221);
    letter-spacing: 0.0625rem;
}

.carousel__content button {
    background-color: #ff0e83;
    padding: 0.8125rem 2rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    margin-top: 1rem;
    outline: none;
    transition-property: background-color, color, border;
    transition-duration: 0.5s;
}

.carousel__content button:hover {
    background-color: #ffffff;
    color: #000;
    border: 2px solid #ff0e83;
}

/*-------- INTRO --------*/
.intro {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.intro__item {
    display: flex;
    align-items: center;
    text-align: center;
}

.intro__tradition {
    background-color: #4e2a84;
}

.intro__creativity {
    background-color: #ff0e83;
}

.intro__ab1 {
    grid-column: 2 / 4;
}

.intro__best {
    grid-column: 1 / 3;
    background-color: #ed6498;
}

.intro__quality {
    background-color: #836eaa;
}

.intro__tasty {
    background-color: #4e2a84;
}

.intro__ab4 {
    grid-column: 3 / 5;
}

.intro__item img {
    width: 100%;
    height: 100%;
    display: block;
}

.intro__item h2 {
    color: #ffffff;
    font-size: 1.6875rem;
    padding-bottom: 1rem;
}

.intro__item p {
    color: rgb(193, 193, 193);
    line-height: 1.8125rem;
    padding: 0 2rem;
}

/*-------- NUMBERS --------*/
.numbers {
    margin: 5rem;
}

.numbers__content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.numbers__item p:first-child {
    color: #4e2a84;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.0625rem;
}

.numbers__item p:last-child {
    padding: 1.5rem 0;
    font-size: 1.4375rem;
    letter-spacing: 0.25rem;
    font-weight: 600;
    color: #000;
}

/*-------- SERVICE --------*/
.service {
    background-image: url(../images/s1.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.service h1 {
    font-size: 3.125rem;
    letter-spacing: 0.1875rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    padding: 4.375rem 0;
}

.service__content {
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5rem;
}

.service__item {
    padding: 0 20px;
}

.service__item i {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #4e2a84;
    line-height: 100px;
    background-color: #ffffff;
    color: #4e2a84;
    font-size: 3.75rem;
    transition-property: color, border;
    transition-duration: 0.5s;
}

.service__item:hover i {
    color: #ff0e83;
    border: 1px solid #ff0e83;
}

.service__item h4 {
    font-size: 26px;
    color: #000;
    letter-spacing: 2px;
    margin: 17px 0px;
}

.service__item p {
    color: #000;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 25px;
}

.service__item button {
    background-color: #ff0e83;
    padding: 12px 27px;
    font-size: 14px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    margin-top: 1rem;
    outline: none;
    letter-spacing: 2px;
    transition-property: background-color, color, border;
    transition-duration: 0.5s;
}

.service__item button:hover {
    background-color: #ffffff;
    color: #000;
    border: 2px solid #ff0e83;
}

/*-------- GALLERY --------*/
.gallery h1 {
    font-size: 3.125rem;
    letter-spacing: 0.1875rem;
    font-weight: 600;
    text-align: center;
    padding: 4.375rem 0;
}

.gallery__content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 0 15px;
}

.gallery__g1 {
    grid-column: 1 / 3;
}

.gallery__g6 {
    grid-column: 3 / 5;
}

.gallery__item img {
    display: block;
    width: 100%;
    height: 100%;
}

.gallery__item {
    position: relative;
}

.gallery__overlay span {
    font-weight: 400;
}

.gallery__overlay {
    position: absolute;
    background-color: rgba(48, 133, 163, 0.2);
    color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 30px;
    text-align: right;
}

.gallery__overlay p {
    position: absolute;
    bottom: 50px;
    right: 30px;
    transform: translateY(50px);/* từ vị trí hiện tại dịch xuống 50px*/
    opacity: 0;
    transition: all 0.5s;
    font-size: 14px;
}

.gallery__overlay:hover p {
    transform: translateY(0px);
    opacity: 1;
}

.gallery__overlay h2 {
    font-size: 30px;
    transform: translateY(30px);
    transition: all 0.5s;
}

.gallery__overlay:hover h2 {
    transform: translateY(0px);
}

.gallery__overlay h2::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
    margin-top: 10px;
    transform: translateY(50px);
    transition: all 0.5s;
    opacity: 0;
}

.gallery__overlay:hover h2::after {
    transform: translateY(0px);
    opacity: 1;
}

/*-------- TEAM --------*/
.team {
    background-color: #4e2a84;
    margin-top: 70px;
    padding-bottom: 70px;
}

.team h1 {
    font-size: 3.125rem;
    letter-spacing: 0.1875rem;
    font-weight: 600;
    text-align: center;
    padding: 4.375rem 0;
    color: #ffffff;
}

.team__content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.team__item img {
    width: 100%;
    height: 100%;
    display: block;
}

/* .bottom {
    margin-bottom: 70px;
} */

.team__item {
    position: relative;
}

.team__pink {
    position: absolute;
    background-color: #ff0e83;
    color: #ffffff;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 25px 25px;
    opacity: 1;
}

.team__item:hover .team__pink {
    opacity: 0;
}

.team__black {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 50px;
    opacity: 0;
    transition: all 1s;
}

.team__item:hover .team__black {
    opacity: 1;
}

.team__black p {
    font-size: 14px;
    line-height: 2;
    word-spacing: 2px;
}

.team__black h3 {
    color: #ff0e83;
    margin-bottom: 10px;
}

.team__pink p {
    margin: 10px 0;
}

.team__socials {
    display: flex;
    margin-top: 25px;
}

.team__socials i {
    width: 37px;
    height: 37px;
    font-size: 15px;
    color: #ffffff;
    border: 1px solid #ffffff;
    line-height: 37px;
    text-align: center;
    margin: 0 7px;
    transition: all 0.5s;
}

.team__socials i:hover {
    border: 1px solid #ff0e83;
    color: #ff0e83;
}

/*-------- TESTIMONIALS --------*/
.testimonials {
    background-image: url(../images/cc1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
}

.testimonials h1 {
    font-size: 3.125rem;
    letter-spacing: 0.1875rem;
    font-weight: 600;
    text-align: center;
    padding: 4.375rem 0;
    color: #ffffff;
}

.testimonials__content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #ff0e83;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    text-align: center;
    letter-spacing: 1px;
}

.testimonials__content .item i{
    font-size: 21px;
    padding: 0px 18px;
    color: #2cbeff;
}

.testimonials__content .item p:last-child {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 10px;
}

.testimonials .owl-theme .owl-dots .owl-dot.active span {
    background-color: #000;
    outline: none;
}

/*-------- CONTACT --------*/
.contact {
    padding-bottom: 70px;
}

.contact h1 {
    font-size: 3.125rem;
    letter-spacing: 0.1875rem;
    font-weight: 600;
    text-align: center;
    padding: 4.375rem 0;
}

.contact__form form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 70%;
    margin: 0 auto;
    gap: 15px 30px;
}

.contact__form input, .contact__form textarea, .contact__form button {
    padding: 15px;
    font-size: 16px;
    letter-spacing: 1px;
}

.contact__form input {
    border: 1px solid #000;
    border-radius: 3px;
    transition-property: box-shadow;
    transition-duration: 0.5s;
}

.contact__form input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.contact__form textarea {
    grid-column: 1 / 3;
    border: 1px solid #000;
    resize: none;
}

.contact__form textarea:focus {
    outline: none;
}

.contact__form textarea::placeholder {
    color: #000;
}

.contact__form button {
    grid-column: 1 / 3;
    background-color: #ff0e83;
    color: #000;
    font-weight: 700;
    border: 1px solid #ff0e83;
    letter-spacing: 1px;
    transition: all 0.5s;
}

.contact__form button:hover {
    background-color:#000;
    color: #ffffff;
    border: 1px solid #000;
}

.contact__map iframe {
    width: 100%;
    margin: 50px 0;
    padding-left: 15px;
    padding-right: 15px;
}

.contact__content {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.contact__content i {
    color: #4e2a84;
    font-size: 28px;
    margin-bottom: 18px;
}

.contact__content p {
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 300;
}

/*-------- FOOTER --------*/
footer {
    background-color: #000;
    margin-bottom: 70px;
}

.footer__content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
    margin: 0 auto;
    color: #fff;
    padding: 70px;
}

.footer__item {
    padding: 0 15px;
}

.footer__item h4{
    font-size: 25px;
    color: #ff0e83;
    letter-spacing: 2px;
    font-weight: bold;
    padding-bottom: 16px;
}

.footer__item p {
    line-height: 28px;
    color: #fff;
    font-size: 14px;
    padding-bottom: 16px;
    letter-spacing: 1px;
}

.aboutUs .socialsButton i {
    width: 37px;
    height: 37px;
    font-size: 15px;
    color: #ffffff;
    border: 1px solid #ffffff;
    line-height: 37px;
    text-align: center;
    margin: 0 7px;
    transition: all 0.5s;
}

.aboutUs .socialsButton i:hover {
    border: 1px solid #ff0e83;
    color: #ff0e83;
}

.workingTime ul {
    list-style: none;
}

.workingTime ul li {
    font-size: 14px;
    color: #fff;
    border-bottom: 1px dotted;
    padding: 0px 0px 7px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.workingTime ul li span {
    float: right;
}

.subscribeUs input {
    color: #000;
    padding: 9px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    letter-spacing: 1px;
    margin-bottom: 16px;
    display: block;
}

.subscribeUs button {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid #000;
    padding: 7px 16px;
    outline: none;
    background: #ff0e83;
    display: inline-block;
    border-radius: 5px;
}

.subscribeUs p {
    padding-top: 16px;
}

/*-------- BACK TO TOP --------*/

.backToTop {
    width: 40px;
    height: 40px;
    color: #2cbeff;
    border: 3px solid #2cbeff;
    display: block;
    border-radius: 50%;
    line-height: 30px;
    font-size: 30px;
    text-align: center;
    position: fixed;
    bottom: 26px;
    right: 26px;

    /* vì phần carousel không có biểu tượng back to top*/
    opacity: 0;
    visibility: hidden;
}

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}